.App {
  text-align: center;
  background-color: lavenderblush;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.imageContainer {
  margin: 20px 25vw;
  padding: 60px;
  width: 600px auto;
  height: 90vh;
  background-color: lavender;
}

