
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: lavenderblush;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.imageContainer {
  position: relative;
  margin: 20px 27vw;
  padding: 60px;
  width: 400px auto;
  height: 70vh;
  background-color: lavender;
  align-items: center;
  text-align: center;
}

.image {
  width: 60%;
  
}

.descDiv {
  height: 120px;
  background-color: lavender;
}

.imageDescription {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  margin-top: 25%;
  text-align: center;
  font-family: 'Righteous', sans-serif;
  font-size: 32px;
  ;
}

button {
  position: absolute;
  display: block;
  margin: 0% 47% 0 47%;
}
